.h-100vh{
    height: 100vh;
}

.border-none{
    border: none;
}

.main{
    margin: 2rem;
}

.pagination > nav > div{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.w-1\/2{
    width: 50%
}

.text-16{
    font-size: 16px;
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
